* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary-color: #ffffff;
  --primary-color: #ff7eb7;
  --secondary-color: #02ffb2;
  --third-color: #8298fd;
  --details-color: #2626bc;

  --font-family-base: "Gloria Hallelujah", cursive;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--bg-color);
  color: var(--text-primary-color);
  height: 100%;
  width: 90%;
  margin: auto;
  background-image: url(./assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.125rem;
}

h1 {
  font-size: 3rem;
  color: var(--details-color);
  font-weight: 900;
  padding-bottom: 25px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 3px solid var(--details-color);
  border-radius: 50px;
  cursor: pointer;
  color: var(--text-primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--third-color)
  );
  transition: background-image;
}

.button:hover {
  background-image: linear-gradient(
    to right,
    var(--third-color),
    var(--secondary-color),
    var(--primary-color)
  );
}

/* Welcome Screen */

.welcomeScreen,
.gameScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.welcomeScreen img {
  width: 150px;
  padding-bottom: 25px;
}

.welcomeScreen p {
  padding-bottom: 25px;
}

/* Global styles */

.gameScreen {
  display: none;
}

.numberEntered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
}

.clueMessage {
  height: 100px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberEntered input {
  text-align: center;
  border: none;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  font-size: 2rem;
  margin: 20px;
  color: var(--primary-color);
}

.previousAttempts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  height: 50px;
  width: 285px;
  background-color: var(--third-color);
  border: 3px solid var(--details-color);
  border-radius: 50px;
}

.previousAttempts span {
  width: 40px;
  margin: 0 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.resultScreen {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.secretNumber {
  margin: 20px;
}
